.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;

  margin-bottom:20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tableWrap {

    margin: 10px;

}